<settings>
    <setting propertyKey="@Properties.contact-0-name" title="@Strings.contact0NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-0-mobile-number" title="@Strings.contact0MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-1-name" title="@Strings.contact1NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-1-mobile-number" title="@Strings.contact1MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-2-name" title="@Strings.contact2NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-2-mobile-number" title="@Strings.contact2MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-3-name" title="@Strings.contact3NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-3-mobile-number" title="@Strings.contact3MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-4-name" title="@Strings.contact4NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-4-mobile-number" title="@Strings.contact4MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-5-name" title="@Strings.contact5NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-5-mobile-number" title="@Strings.contact5MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-6-name" title="@Strings.contact6NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-6-mobile-number" title="@Strings.contact6MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-7-name" title="@Strings.contact7NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-7-mobile-number" title="@Strings.contact7MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-8-name" title="@Strings.contact8NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-8-mobile-number" title="@Strings.contact8MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-9-name" title="@Strings.contact9NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-9-mobile-number" title="@Strings.contact9MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
    <setting propertyKey="@Properties.contact-10-name" title="@Strings.contact10NameTitle" prompt="@Strings.contactNamePrompt"> 
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactNameError"/>
    </setting>
    <setting propertyKey="@Properties.contact-10-mobile-number" title="@Strings.contact10MobileNumberTitle" prompt="@Strings.contactMobileNumberPrompt">
        <settingConfig type="alphaNumeric" errorMessage="@Strings.contactMobileNumberError"/>
    </setting>
</settings>